In [2]:
import requests
from io import StringIO
import pandas as pd

url = "https://raw.githubusercontent.com/SachinGunjal001/Market-Size-Analysis-on-Electric-Vehicles-Industries-/main/Electric_Vehicle_Population_Data.csv"

headers = {"User-Agent": "Mozilla/5.0"}

req = requests.get(url, headers=headers)
req.raise_for_status()  # will raise an error if something goes wrong

data = StringIO(req.text)
df = pd.read_csv(data)

print(df.head())

   VIN (1-10)     County       City State  Postal Code  Model Year   Make  \
0  5YJYGDEE1L       King    Seattle    WA      98122.0        2020  TESLA
1  7SAYGDEE9P  Snohomish    Bothell    WA      98021.0        2023  TESLA
2  5YJSA1E4XK       King    Seattle    WA      98109.0        2019  TESLA
3  5YJSA1E27G       King   Issaquah    WA      98027.0        2016  TESLA
4  5YJYGDEE5M     Kitsap  Suquamish    WA      98392.0        2021  TESLA

     Model           Electric Vehicle Type  \
0  MODEL Y  Battery Electric Vehicle (BEV)
1  MODEL Y  Battery Electric Vehicle (BEV)
2  MODEL S  Battery Electric Vehicle (BEV)
3  MODEL S  Battery Electric Vehicle (BEV)
4  MODEL Y  Battery Electric Vehicle (BEV)

   Clean Alternative Fuel Vehicle (CAFV) Eligibility  Electric Range  \
0            Clean Alternative Fuel Vehicle Eligible             291
1  Eligibility unknown as battery range has not b...               0
2            Clean Alternative Fuel Vehicle Eligible             270
3            Clean Alternative Fuel Vehicle Eligible             210
4  Eligibility unknown as battery range has not b...               0

   Base MSRP  Legislative District  DOL Vehicle ID  \
0          0                  37.0       125701579
1          0                   1.0       244285107
2          0                  36.0       156773144
3          0                   5.0       165103011
4          0                  23.0       205138552

                Vehicle Location  \
0   POINT (-122.30839 47.610365)
1  POINT (-122.179458 47.802589)
2   POINT (-122.34848 47.632405)
3   POINT (-122.03646 47.534065)
4   POINT (-122.55717 47.733415)

                                Electric Utility  2020 Census Tract
0   CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)       5.303301e+10
1                         PUGET SOUND ENERGY INC       5.306105e+10
2   CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)       5.303301e+10
3  PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)       5.303303e+10
4                         PUGET SOUND ENERGY INC       5.303594e+10

In [6]:
import pandas as pd

tsv_file = pd.read_csv(
    'sample-5.tsv',
    sep='\t',
    names=['Date', 'Open', 'High', 'Low', 'Close', 'Volume'],
    on_bad_lines='skip',  # skips problematic rows
    engine='python'       # use Python engine to handle irregular lines
)

print(tsv_file.head())

   Date  Open  High  Low  Close  Volume
0   NaN   NaN   NaN  NaN    NaN     NaN

In [16]:
cust = pd.read_csv('Cars93.csv', index_col='id',usecols=['id', 'Manufacturer', 'AirBags', 'DriveTrain', 'Horsepower', 'Weight', 'Wheelbase', 'Length'])
cust.head()

,Manufacturer,AirBags,DriveTrain,Horsepower,Length,Wheelbase,Weight
id,,,,,,,
1,Acura,NaN,Front,140,177,102,2705
2,Acura,Driver & Passenger,Front,200,195,115,3560
3,Audi,Driver only,Front,172,180,102,3375
4,Audi,NaN,Front,172,193,106,3405
5,BMW,Driver only,Rear,208,186,109,3640

In [20]:
import pandas as pd

cust = pd.read_csv('Cars93.csv', usecols=['Manufacturer']).squeeze("columns")
print(cust)

0          Acura
1          Acura
2           Audi
3           Audi
4            BMW
         ...
88    Volkswagen
89    Volkswagen
90    Volkswagen
91         Volvo
92         Volvo
Name: Manufacturer, Length: 93, dtype: object

In [21]:
#Skiprows/nrows
pd.read_csv('Cars93.csv', skiprows=5, nrows=10)

,5,BMW,535i,Midsize,23.7,30,36.2,22,30.1,Driver only,...,4.1,186,109,69,39,27,13,3640,non-USA,BMW 535i
0,6,Buick,Century,Midsize,14.2,15.7,17.3,22,31,Driver only,...,6,189,105,69,41,28.0,16,2880,USA,Buick Century
1,7,Buick,LeSabre,Large,19.9,20.8,21.7,19,28,Driver only,...,6,200,111,74,42,30.5,17,3470,USA,Buick LeSabre
2,8,Buick,Roadmaster,Large,22.6,23.7,24.9,16,25,Driver only,...,6,216,116,78,45,30.5,21,4105,USA,Buick Roadmaster
3,9,Buick,Riviera,Midsize,26.3,26.3,26.3,19,27,Driver only,...,5,198,108,73,41,26.5,14,3495,USA,Buick Riviera
4,10,Cadillac,DeVille,Large,33.0,34.7,36.3,16,25,Driver only,...,6,206,114,73,43,35.0,18,3620,USA,Cadillac DeVille
5,11,Cadillac,Seville,Midsize,37.5,40.1,42.7,16,25,Driver & Passenger,...,5,204,111,74,44,31.0,14,3935,USA,Cadillac Seville
6,12,Chevrolet,Cavalier,Compact,8.5,13.4,18.3,25,36,NaN,...,5,182,101,66,38,25.0,13,2490,USA,Chevrolet Cavalier
7,13,Chevrolet,Corsica,Compact,11.4,11.4,11.4,25,34,Driver only,...,5,184,103,68,39,26.0,14,2785,USA,Chevrolet Corsica
8,14,Chevrolet,Camaro,Sporty,13.4,15.1,16.8,19,28,Driver & Passenger,...,4,193,101,74,43,25.0,13,3240,USA,Chevrolet Camaro
9,15,Chevrolet,Lumina,Midsize,13.4,15.9,18.4,21,29,NaN,...,6,198,108,71,40,28.5,16,3195,USA,Chevrolet Lumina

In [42]:
df = pd.read_csv('Customers.csv', encoding="latin-1", on_bad_lines='skip', parse_dates=['BirthDate']).info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18154 entries, 0 to 18153
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerKey     18153 non-null  object
 1   Prefix          18021 non-null  object
 2   FirstName       18148 non-null  object
 3   LastName        18148 non-null  object
 4   BirthDate       18151 non-null  object
 5   MaritalStatus   18148 non-null  object
 6   Gender          18018 non-null  object
 7   EmailAddress    18148 non-null  object
 8   AnnualIncome    18148 non-null  float64
 9   TotalChildren   18148 non-null  float64
 10  EducationLevel  18148 non-null  object
 11  Occupation      18148 non-null  object
 12  HomeOwner       18148 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.8+ MB

In [ ]:
#Converters

def rename(name):
    if name == "Royal Challengers Bangalore":
        return "RCB"  # can create mutliple ifs to give data and call as below by converters
    else:
        return name
    read_csv('IPL Matches 2008-2020.csv', converters={'team1': rename, 'team2': rename})

In [44]:
#na_values parameter

df = pd.read_csv('Customers.csv', encoding="latin-1", na_values={'CreditLimit': ['NA', 'No Limit', 'Not Available']}, parse_dates=['BirthDate'])
df

,CustomerKey,Prefix,FirstName,LastName,BirthDate,MaritalStatus,Gender,EmailAddress,AnnualIncome,TotalChildren,EducationLevel,Occupation,HomeOwner
0,11000,MR.,JON,YANG,08-04-1966,M,M,jon24@adventure-works.com,90000.0,2.0,Bachelors,Professional,Y
1,11001,MR.,EUGENE,HUANG,14-05-1965,S,M,eugene10@adventure-works.com,60000.0,3.0,Bachelors,Professional,N
2,11002,MR.,RUBEN,TORRES,12-08-1965,M,M,ruben35@adventure-works.com,60000.0,3.0,Bachelors,Professional,Y
3,11003,MS.,CHRISTY,ZHU,15-02-1968,S,F,christy12@adventure-works.com,70000.0,0.0,Bachelors,Professional,N
4,11004,MRS.,ELIZABETH,JOHNSON,08-08-1968,S,F,elizabeth5@adventure-works.com,80000.0,5.0,Bachelors,Professional,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18149,30---,m,NaN,NaN,01-01-1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18150,30---,m,NaN,NaN,01-01-1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18152,Export date 20230101 14:59:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18153,Source AW_Cust_Master,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
# Loading huge dataset in chunks

df = pd.read_csv('Customers.csv', encoding="latin-1", chunksize=5000)

In [48]:
for chunks in df:
    print(chunks.shape)

(5000, 13)
(5000, 13)
(3154, 13)