# Conditional Statements
- Write solution of each question in the cell given below the corresponsing question.

#### 1. Take a list of numbers as input. Print whether the average is even or odd.

In [19]:
nums = list(map(int, input("Enter numbers: ").split()))

if (sum(nums) / len(nums)) % 2 == 0:
    print("Average is even")
else:
    print("Average is odd")

TypeError: 'list' object is not callable

#### 2. Take three strings as input. Calculate the number of words in each string and find out the list having highest number of words.

In [22]:

str1 = input("Enter string1:")
str2 = input("Enter string2:")
str3 = input("Enter string3:")

l1 = [str1, str2, str3]
max_l1 = l1[0]

for i in l1:
    if(len(i) > len(max_l1)):
        max_l1 = i

print("List of highest number of words: ", max_l1)

List of highest number of words:  dsfsdf sgsgsd esfds

#### 3. Take four numbers as input in a single line. Find out the largest number.

In [27]:
nums = input("Enter four numbers (space separated): ").split()
for i in range(len(nums)):
    nums[i] = int(nums[i])
print("Largest number is:", max(nums))

Largest number is: 65

#### 4. Take four numbers as input and find the second largest numer.

In [ ]:
nums = input("Enter four numbers (space separated): ").split()

for i in range(len(nums)):
    nums[i] = int(nums[i])
nums.sort()

print("Second largest number is:", nums[-2])

list:  7
Second largest number is: 5

#### 5. Create a dictionary having three items. Key of each item is the name of a student, value associated with each key is a list of marks in five subjects. Given this dictionary print the top and lowest scorers.

In [33]:
students={'Tom':[89,98,45,67,89], 'Jon':[92,41,43,66,87], 'Bob':[67,53,89,89,34]}

top_scorer = 0
low_scorer = 0
top_score = float('-inf')
low_score = float('inf')

for name, marks in students.items():
    total = sum(marks)
    if(total > top_score):
        top_score = total
        top_scorer = name

    if total < low_score:
        low_score = total
        low_scorer = name
    

print("Top scorer", name, ": ", top_score)
print("Low scorer", name, ": ", low_score)

Top scorer Bob :  388
Low scorer Bob :  329

#### 6. Create a dictionary (called data) of having at least 5 items : Usernames as keys and Passwords as values. Write a program that takes a username and a password as input. If the credentials match any iteam in the given dictionary data then print acces granted otherwise print whether username, password or both are wrong.

#### 7. Take a list as input in a single line containing 15 numbers as marks out of 100. The first five numbers in the list are marks of Tom, the middle 5 numbers are marks of Bob and the last 5 are the marks of Jon. Find out the top and lowest scorer.

#### 8. Take a number as input and print whether the number is a multiple of 3,5 or both.

#### 9. Write a program to take three strings as input and print the string having second largest number of words.

#### 10. Write a program to take four strings as input and print the string having third highest number of words.