### 1.

Write a function ``clap_tap`` that prints the integers from 1 to 100. But for multiples of three print "Clap" instead of the number, and for the multiples of five print "Tap". For numbers which are multiples of both three and five print "ClapTap".

In [11]:

start = 1
end = 100

def clap_tap():
    for i in range(start, end+1):
        if i % 3 == 0 and i % 5 == 0:
            print("ClapTap")
        elif i % 3 == 0:
            print("Clap")
        elif i % 5 == 0:
            print("Tap")
        else:
            print(i)

print(clap_tap())

1
2
Clap
4
Tap
Clap
7
8
Clap
Tap
11
Clap
13
14
ClapTap
16
17
Clap
19
Tap
Clap
22
23
Clap
Tap
26
Clap
28
29
ClapTap
31
32
Clap
34
Tap
Clap
37
38
Clap
Tap
41
Clap
43
44
ClapTap
46
47
Clap
49
Tap
Clap
52
53
Clap
Tap
56
Clap
58
59
ClapTap
61
62
Clap
64
Tap
Clap
67
68
Clap
Tap
71
Clap
73
74
ClapTap
76
77
Clap
79
Tap
Clap
82
83
Clap
Tap
86
Clap
88
89
ClapTap
91
92
Clap
94
Tap
Clap
97
98
Clap
Tap
None

### 2.

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter and returns False if both words begin with different letter
- animal_crackers('Levelheaded Lion') --> True
- animal_crackers('Cute Kangaroo') --> False

In [13]:
def animal_crackers(text):
    input1 = text.split()           
    return input1[0][0].lower() == input1[1][0].lower()  

string1 = input("Enter text: ")

print(string1)   

print(animal_crackers(string1))

Sachin Gunjal
False

### 3.

Create a function ``shout_out`` Given a string, return a string where:
for every character in the original there are three characters

    - shout_out('character') --> 'ccchhhaaarrraaacccttteeerrr'
    - shout_out('original') --> 'ooorrriiigggiiinnnaaalll'

In [2]:
def shout_out(text):
    result = ""
    for ch in text:
        result += ch * 3
    return result

string1 = input("Enter text: ")

print(shout_out(string1))

SSSaaaccchhhiiinnn

### 4.

Create a function ``ignore_6_to_9`` that returns the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

- ignore_6_to_9([1, 3, 5]) --> 9
- ignore_6_to_9([4, 5, 6, 7, 8, 9]) --> 9
- ignore_6_to_9([2, 1, 6, 9, 11]) --> 14

In [9]:
list1 = list(map(int,input("Enter values in list: ").split()))

def ignore_6_to_9(nums):
    total = 0
    ignore = False  
    
    for num in nums:
        if num == 6:
            ignore = True
        if not ignore:
            total += num
        if num == 9 and ignore:
            ignore = False 
    
    return total


print(ignore_6_to_9(list1))

7

### 5.

Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

- Current Number 0 Previous Number  0  Sum:  0
- Current Number 1 Previous Number  0  Sum:  1 and so on

In [29]:
prev_num = 0  

for i in range(10):  
    sum_num = i + prev_num
    print(f"Current Number: {i}, Previous Number: {prev_num}, Sum: {sum_num}")
    prev_num = i

Current Number: 0, Previous Number: 0, Sum: 0
Current Number: 1, Previous Number: 0, Sum: 1
Current Number: 2, Previous Number: 1, Sum: 3
Current Number: 3, Previous Number: 2, Sum: 5
Current Number: 4, Previous Number: 3, Sum: 7
Current Number: 5, Previous Number: 4, Sum: 9
Current Number: 6, Previous Number: 5, Sum: 11
Current Number: 7, Previous Number: 6, Sum: 13
Current Number: 8, Previous Number: 7, Sum: 15
Current Number: 9, Previous Number: 8, Sum: 17